.channel-bar{
    height: 500px;
    background-color: black;
    padding: 10px;
}
.channel-bar > p {
    color: wheat;
}

.active{
    color:white!important;
}

.nav-item > a  {
    color: grey;
}


.message-container{
    height: 500px;
    width: 100%;
}

.message{
    height: 100%;
    overflow-y: scroll;
}

.text-container{
    display: block;
    margin: 5px 0px;
}

.from-user{
    display: block;
    text-align: left;
    color: red;
}

.text{
    display: block;
    text-align: left;
}
